<div class="parent-container">
  <h2>I'm {{ myName }}</h2>

  <div>
    I receive <strong>{{ fromGrandpaToParent }}</strong> from
    <strong>{{ grandpaName }}</strong>
  </div>

  <br />

  <app-message-form
    [buttonText]="'Send to my parent'"
    (emitMessage)="sendFromParentToGrandpa($event)"
  ></app-message-form>

  <br />

  <div>
    This my son:
    <app-child
      [parentName]="myName"
      [fromParentToChild]="fromParentToChild"
      [fromGrandpaToChild]="fromGrandpaToChild"
      [grandpaName]="grandpaName"
      (childEmitterToParent)="setReceivedFromChild($event)"
      (childEmitterToGrandpa)="sendFromChildToGrandpa($event)"
    >
    </app-child>
    <div *ngIf="receivedFromChild.length > 0">
      <div *ngFor="let message of receivedFromChild">
        My son sent me <strong>{{ message.message }}</strong>
      </div>
    </div>
    <button type="button" (click)="sendFromParentToGrandpa(sendToGrandpa)">
      send to grandpa!
    </button>
  </div>
</div>
