<div class="parent-container">
  <h2>I'm {{ myName }}</h2>

  <div>
    I receive
    <strong>{{ fromGrandpaToParent | upperLowerCaseRandomize }}</strong> from
    <strong>{{ grandpaName | upperLowerCaseRandomize }}</strong>
  </div>

  <br />

  <app-message-form
    [buttonText]="'Send to my parent'"
    (emitMessage)="sendFromParentToGrandpa($event)"
  ></app-message-form>

  <br />

  <div>
    This my son:
    <app-child
      [parentName]="myName"
      [fromParentToChild]="fromParentToChild"
      [fromGrandpaToChild]="fromGrandpaToChild"
      [grandpaName]="grandpaName"
      (childEmitterToParent)="setReceivedFromChild($event)"
      (childEmitterToGrandpa)="sendFromChildToGrandpa($event)"
    >
    </app-child>

    <div *ngIf="receivedFromChild.length > 0">
      <h4>My son only sends me bad messages:</h4>
      <div>{{ receivedFromChild | badMessage }}</div>
      <h4>But sometimes he sends me good ones:</h4>
      <div>{{ receivedFromChild | goodMessage }}</div>
    </div>
    <button type="button" (click)="sendFromParentToGrandpa(sendToGrandpa)">
      send to grandpa!
    </button>
  </div>
</div>
