<div class="child-container">
  <h3>I'm {{ myName }}</h3>
  <div>
    <p>
      I receive <strong>{{ fromParentToChild }}</strong> from
      <strong>{{ parentName }}</strong>
    </p>
    <p>
      I receive <strong>{{ fromGrandpaToChild }}</strong> from
      <strong>{{ grandpaName }}</strong>
    </p>
    <button type="button" (click)="sendFromChildToParent(sendToParent)">
      sent to parent!
    </button>
    <button type="button" (click)="sendFromChildToGrandpa(sendToGrandpa)">
      sent to grandpa!
    </button>
  </div>
</div>
